In [2]:
# Dependencies
import pandas as pd

In [3]:
dir(pd)

['BooleanDtype',
 'Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int64Index',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NA',
 'NaT',
 'NamedAgg',
 'Panel',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseArray',
 'SparseDataFrame',
 'SparseDtype',
 'SparseSeries',
 'StringDtype',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt64Index',
 'UInt8Dtype',
 '__Datetime',
 '__DatetimeSub',
 '__SparseArray',
 '__SparseArraySub',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__numpy',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_config',
 '_hashtable',
 '_is_numpy_dev',
 '_lib',
 '_libs',
 '_np_version_under1p14',
 '_np_version_under1p15',
 '_np_version_under1p16',
 '_np_version_under1p17',
 '_np_version_under1p18',
 '_testing',
 '_tslib',
 '_typing',
 '_version',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'datetime',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json_normalize',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'np',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

In [4]:
# Create a Pandas Series from the following list of schools.
bootcamp_univ = ["UCLA", "UC Berkeley", "UC Irvine",
                 "University of Central Florida", "Rutgers University"]

# Option 1. 
data_series = pd.Series(["UCLA", "UC Berkeley", "UC Irvine",
                         "University of Central Florida", "Rutgers University"])
print(data_series)
print("---------------------------------------------------------------")

#  Option 2. 
data_series_2 = pd.Series(bootcamp_univ)

print(data_series_2)

0                             UCLA
1                      UC Berkeley
2                        UC Irvine
3    University of Central Florida
4               Rutgers University
dtype: object
---------------------------------------------------------------
0                             UCLA
1                      UC Berkeley
2                        UC Irvine
3    University of Central Florida
4               Rutgers University
dtype: object

In [6]:
# Convert the following list of dictionaries into a DataFrame.
movies_dicts = [{"Title": "The Godfather", "Year Released": 1972},
                {"Title": "The Shawshank Red emption", "Year Released": 1994},
                {"Title": "Pulp Fiction", "Year Released": 1994, "Rating":"A"},
                {"Title": "The Lord of the Rings: The Return of the King", "Year Released": 2003}]

movie_df = pd.DataFrame(movies_dicts)
movie_df

                                           Title  Year Released Rating
0                                  The Godfather           1972    NaN
1                      The Shawshank Red emption           1994    NaN
2                                   Pulp Fiction           1994      A
3  The Lord of the Rings: The Return of the King           2003    NaN

In [10]:
# Edit the movie_dicts so that the the values for the "Title" and "Year Released" are list of movie titles and years.
#  Then, convert the dictionary of lists into a DataFrame. 

movies_dicts = {"Title": ["The Godfather", "The Shawshank Redemption","Pulp Fiction","A",
                           "The Lord of the Rings: The Return of the King"], 
                "Year Released": [1972, 1994, 1994, 2003]}

movie_df = pd.DataFrame(movies_dicts)
movie_df

ValueError: arrays must all be same length

In [11]:
# Create a DataFrame using a dictionary of lists
frame_df = pd.DataFrame({
    "Frame": ["Ornate", "Classical", "Modern", "Wood", "Cardboard"],
    "Price": [15.00, 12.50, 10.00, 5.00, 1.00],
    "Sales": [100, 200, 150, 300, "N/A"]
})
frame_df

       Frame  Price Sales
0     Ornate   15.0   100
1  Classical   12.5   200
2     Modern   10.0   150
3       Wood    5.0   300
4  Cardboard    1.0   N/A

In [13]:
(frame_df.head(3))

       Frame  Price Sales
0     Ornate   15.0   100
1  Classical   12.5   200
2     Modern   10.0   150

In [14]:
frame_df.describe()

           Price
count   5.000000
mean    8.700000
std     5.674504
min     1.000000
25%     5.000000
50%    10.000000
75%    12.500000
max    15.000000

In [15]:
frame_df["Frame"]

0       Ornate
1    Classical
2       Modern
3         Wood
4    Cardboard
Name: Frame, dtype: object

In [18]:
frame_df[["Frame","Price"]].head(2)

       Frame  Price
0     Ornate   15.0
1  Classical   12.5

In [19]:
frame_df.index

RangeIndex(start=0, stop=5, step=1)

In [20]:
frame_df.values

array([['Ornate', 15.0, 100],
       ['Classical', 12.5, 200],
       ['Modern', 10.0, 150],
       ['Wood', 5.0, 300],
       ['Cardboard', 1.0, 'N/A']], dtype=object)

In [21]:
l=frame_df["Frame"].tolist()
l

['Ornate', 'Classical', 'Modern', 'Wood', 'Cardboard']